#footer{
    margin: 0px !important;
}
html,body{
    background: #fff !important;
}
#box_bg{
    height: 480px;
    background: #f1efeb;
}
.box_top{
    height: 50px;
}
#box {
    background: #fff;
    padding-left: 80px;
    width: 930px;
    margin: 0 auto;
    background:#fff ;
}

