@charset ' utf-8 ';
html,body,ul,li,ol,dl,dd,dt,p,h1,h2,h3,h4,h5,h6,form,fieldset,legend,img,input,figure,figcaption{margin:0;padding:0;}
ul,ol,li{list-style:none;}
b,strong{font-weight:normal;}
h1,h2,h3,h4,h5,h6{font-size:16px;font-weight:normal}
a,u,s{text-decoration:none}
em,i{font-style: normal;}
b,strong{font-style: none}
img{border:0;display: block;}
input{outline: none}
figure{margin:0;}
.clear_fix:after{content:'.';display: block;clear: both;;height: 0;overflow:hidden;visibility: hidden;}
.clear_fix{zoom:1;}


.top_con,.logo_con,.nav_con,.footer_con{width:1006px;margin: 0 auto;}



html,body{background: #f1efeb;height: 100%;}


#top{border-bottom: 1px solid #eeeeee;background: #f4f4f4;}
.top_l{height: 26px;width: 272px;float: left;}
.top_q{display: block;height: 26px;width: 69px;background: url(../images/icons1.png) no-repeat -13px -645px;padding-left: 30px;font-size: 12px;line-height: 26px;cursor: pointer;}
.top_qq1{color: #666;}
.top_tk_t{display: block;height: 26px;width: 69px;background: url(../images/icons1.png) no-repeat -13px -645px;padding-left: 30px;font-size: 12px;line-height: 26px;cursor: pointer;}
.top_tk_c{display: block;height: 26px;width: 69px;background: url(../images/icons1.png) no-repeat -13px -685px;padding-left: 30px;font-size: 12px;line-height: 26px;cursor: pointer;display: none;}
.top_tk_b{display: block;height: 26px;width: 69px;background: url(../images/icons1.png) no-repeat -13px -720px;padding-left: 30px;font-size: 12px;line-height: 26px;cursor: pointer;display: none;}
.top_tk{position: absolute;top: 0px;background: #fafafa;}
.top_q{float: left;}
.top_login{float: left;line-height: 16px;font-size: 12px;display: block;height: 16px;margin-top: 5px;padding-left: 12px;border-left: 1px solid #ccc;color: #666;cursor: pointer;}
.top_zc{float: left;line-height: 26px;font-size: 12px;color: red;padding-left: 30px;background: url(../images/icons1.png)   no-repeat 60px -762px;padding-right: 45px;cursor: pointer;}
.top_r{width:480px; height: 26px;float: right;}
.top_r li{height: 26px;line-height: 26px;float: left;}
.top_r  a{display: block;float: left;font-size: 12px;border-right: 1px solid #ccc;padding: 0 10px ;color: #666;line-height: 12px;margin-top: 8px;}
.top_r_sj{display: block;float: left;padding-right: 6px;margin-top: -5px;}
.top_r .top_last{border-right: 0px;}
.top_r_last{position: relative;}
.top_r_gz{width: 170px;height: 150px;position: absolute;right: -1px;top: 26px;background: #fafafa;border: 1px solid #CCCCCC;border-top: none;display: none;}
.welcome{
    display: inline-block;
    line-height: 26px;
    color: #666;
    font-size: 12px;
    height: 25px;
    padding-left: 5px;
    a{
        color: #666;
    }
    .vip{
        display: inline-block;
        width: 14px;
        height: 19px;
        background: url(../images/grade.png) no-repeat -56px 8px;
    }
    .quit{
        cursor: pointer;
    }
}
.top_gz_l{width: 109px;height: 130px;float: left;text-align: center;font-size: 12px;color: #666;margin-top: 8px;border-right: 1px solid #EEEEEE;}
.top_gz_l em{line-height: 12px;}
.top_gz_l .top_wx_a{border-right: 0;margin: 0;}
.top_wx{width: 80px;height: 80px;text-align: center;}
.top_gz_r{width: 60px;height: 128px;float: right;text-align: center;}
.top_gz_r img{margin-left: 9px;margin: 0;}
.top_gz_r em{font-size: 12px;color: #666666;line-height: 16px;}
.top_gz_wb{margin-top: 10px;}


#logo{background: #fff;}
.logo_con{height: 93px;}
.logo_l{float: left;margin-top: 11px;}
.logo_r{float: right;margin-top: 31px;}


#nav{background:#ff6600;position: relative;}
.nav_ul{float: left;}
.nav_ul li{float: left;}
.nav_ul li a {display: block;height: 40px;line-height: 40px;font-size: 14px;color: #fff;padding: 0 16px;}
.nav_sj{float: right;font-size: 14px;line-height: 40px;color: #fff;padding: 0 16px;}
.nav_ul li a:hover{background: #e50;}
.nav_select{background: #dd4400;}
.nav_sj:hover{background: #dd4400;}





#footer{
    margin-top: 30px;
    background: url(../images/footer_bg.png) repeat-x top;
    background-color: #fff;
}
.footer_con{
    padding-top: 37px;
    
}
.footer_ul{
    width: 856px;
    margin-top: 50px;
    display: block;
    margin:0 auto;
    li{
        float: left;
        font-size: 12px;
        text-align: center;
        a{
            display: inline-block;
            color: #666666;
            padding: 0 15px;
            border-right: 1px solid #666666;
        }
    }
    li:last-of-type a {
        border: none;
    }
}

.footer_hj {
    width: 650px;
    margin: 0 auto;
    margin-top: 20px;
    img{
    float: left;
    margin-left: 10px;
    width: 112px;
    height: 42px;
    }
}

.footer_dl{
    text-align: center;
    display: block;
    font-size: 12px;
    color: #999999;
    margin-top: 18px;
    line-height: 12px;
}

.fooer_fx{
    width: 250px;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    .fooer_fx_more{
        background: url(../images/is.png) no-repeat ;
        font-size: 12px;
        padding-left: 25px;
        float: left;
    }
    .fx_qq{
        background: url(../images/is.png) no-repeat 0 -2235px;
    }
    .fx_qzone{
        background: url(../images/is.png) no-repeat 0 -80px;
    }
    .fx_xlwb{
        background: url(../images/is.png) no-repeat 0 -120px;
    }
    .fx_txwb{
        background: url(../images/is.png) no-repeat 0 -240px;
    }
    .fx_rrw{
        background: url(../images/is.png) no-repeat 0 -200px;
    }
    .fx_tb{
        background: url(../images/is.png) no-repeat 0 -559px;
    }
    a{
        display: block;
        font-family: '宋体',Arial;
        height: 16px;
        float: left;
        cursor: pointer;
        padding-top: 6px;
        padding-bottom: 3px;
        padding-left: 22px;
    }
    
}





.fhtop{
    height: 68px;
    width: 68px;
    background: pink;
    position: fixed;
    left:50% ;
    bottom: 40px;
    margin-left: 520px;
    cursor: pointer;
    background: url(../images/icons1.png) no-repeat -18px -437px;
    font-size: 14px;
    line-height: 60px;
    text-align: center;
    color: #fff;
    display: none;
}

