#footer{
    margin: 0px !important;
}
html,body{
    background: #fff !important;
}
#box_bg{
    height: 520px;
    background: #f1efeb;
}
.box_top{
    height: 30px;
}
#box {
    height: 400px;
    background: #fff;
    padding-bottom: 50px;
    padding-left: 80px;
    width: 930px;
    margin: 0 auto;
    background:#fff ;
}

.dl_l_main{
    width: 590px;
    height: 386px;
    display: inline-block;
    float: left;
    h2{
        font-size: 16px;
        font-weight: bold;
        color: #333333;
        margin-top: 35px;
        margin-bottom: 46px;
    }
    p{
        margin-bottom: 13px;
        height: 30px;
        font-size: 12px;
        color: #666666;
        line-height: 30px;
        input{
            height: 26px;
            border: thin solid lightgray ;
            box-shadow: 0 0 3px #dfdfdf inset;
            border-radius: 3px;
            padding-left: 8px;
        }
        em{
            display:inline-block;
            width: 100px;
            text-align: right;
        }
    }
    
    p:nth-of-type(1) input{
            width: 226px;
    }
    p:nth-of-type(4) input{
            width: 226px;
    }    
     p:nth-of-type(3) input{
            width: 226px;
    }   
     p:nth-of-type(2) input{
            width: 96px;
    }          
    span{
        color: red;
        padding-left: 20px;
        display: none;
    }
    
    #p_yzm{
        height: 60px;
        em{
            
            display: inline-block;
        }
    }
}
.jsxy{
    margin-left: 103px;
    margin-top: 20px;
}
#form_btn{
    display: inline-block;
    width: 100px;
    height: 35px;
    color: #FFFFFF;
    background: #ff6600;
    border: 1px solid #f30;
    border-radius: 3px;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    margin-left: 103px;
    cursor: pointer;
}

.dl_r_main{
    width: 220px;
    padding-left: 40px;
    text-align: center;
    height: 400px;
    display: inline-block;
    background: url(../images/tj_split.png) no-repeat 15px 35px ;
    .title{
        font-size: 12px;
        color: #333;
        margin: 20px auto;
    }
    .msdl{
          display: block;
          width: 106px;
          margin: 0 auto;
          height: 28px;
          border: 1px solid #538312;
          color: #fff;
          text-align: center;
          font-weight: bold;
          line-height: 28px;
          border-radius: 5px;
          margin-bottom: 50px;
//        background: -webkit-gradient(linear,left top,left bottom,from(#7DB72F),to(#4E7D0E));
          background: linear-gradient(to bottom,#7DB72F,#4E7D0E);
    }
    p:nth-of-type(2){
        font-size: 1px;
        text-align: center;
        color: #777;
    }
    ul{
        display: block;
        width: 120px;
        margin: 20px auto;
        font-size: 12px;
        li a{
            display: block;
            color: #666666;
            height: 24px;
            padding: 0 8px;
            padding-left: 26px;
            line-height: 24px;
            margin: 5px auto;
            border-radius: 5px;
            background: url(../images/icons1.png) no-repeat ;
            background-color: white;
            border: 1px solid #ddd;
            cursor: pointer;
           
        }
        li:nth-of-type(1) a{
             background-position: -15px -646px;
        }
        li:nth-of-type(2) a{
             background-position: -15px -722px;
        }
        li:nth-of-type(3) a{
             background-position: -15px -686px;
        }
    }
    .dl_r_b{
        margin-top: 50px;
        color: #777777;
        font-size: 12px;
        img{
            margin: 8px auto;
        }
    }
    
}
#v_container,#verifyCanvas{
    display: inline-block;
    width: 115px;
    height: 50px;
    margin-bottom: -10px;
    padding-left: 5px;
}
